#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 > #backgroundBox {
  background-color: #A9DAF3;
  position: absolute;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 > #alignmentBox {
  position: relative;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 {
  position: absolute;
  width: 1325.0px;
  min-height: 71.31025986089935px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #678A9C;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_1 {
  position: absolute;
  width: 501.4687500000016px;
  min-height: 43.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Image_1 {
  position: absolute;
  width: 44.0px;
  height: 48.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Image_2 {
  position: absolute;
  width: 256.0px;
  height: 256.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 {
  position: absolute;
  width: 273.5124611152057px;
  min-height: 74.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 span#rtr-s-Text_2_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_2 span#rtr-s-Text_2_3 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_8 {
  position: absolute;
  width: 21.401400089263916px;
  height: 18.202099800109863px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #3F51B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 input::-moz-placeholder {
  color: #3F51B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 input:-moz-placeholder {
  color: #3F51B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 input:-ms-input-placeholder {
  color: #3F51B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 {
  position: absolute;
  width: 255.99999999999994px;
  height: 44.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 {
  position: absolute;
  width: 129.2887438825449px;
  height: 45.685975609755985px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #7E86B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #2196F3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 {
  position: absolute;
  width: 204.2544861337676px;
  height: 45.68597560975587px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #7E86B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #2196F3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 {
  position: absolute;
  width: 197.73572593800918px;
  height: 45.68597560975587px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 > .backgroundLayer > .colorLayer {
  background-color: #7E86B5;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #2196F3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 {
  position: absolute;
  width: 228.42987804878118px;
  height: 45.68597560975607px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 {
  position: absolute;
  width: 228.42987804878118px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 {
  position: absolute;
  width: 228.42987804878118px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 {
  position: absolute;
  width: 228.42987804878118px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 {
  position: absolute;
  width: 228.42987804878118px;
  height: 45.685975609756156px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 {
  position: absolute;
  width: 304.5731707317075px;
  height: 45.68597560975607px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 {
  position: absolute;
  width: 304.5731707317075px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 {
  position: absolute;
  width: 304.5731707317075px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 {
  position: absolute;
  width: 304.5731707317075px;
  height: 45.6859756097561px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 input::-webkit-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 input::-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 input:-moz-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 input:-ms-input-placeholder {
  color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 {
  position: absolute;
  width: 304.5731707317075px;
  height: 45.685975609756156px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 .valign {
  vertical-align: middle;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 > .backgroundLayer > .colorLayer {
  background-color: #50B7C3;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Input_text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_3 {
  position: absolute;
  width: 330.6093750000006px;
  min-height: 220.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arsenal SC_1.0.0_google',Arial;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arsenal SC_1.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arsenal SC_1.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_7 {
  position: absolute;
  width: 19.767068007886337px;
  height: 19.000006470112993px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_9 {
  position: absolute;
  width: 19.767068007885886px;
  height: 19.000006470112993px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_10 {
  position: absolute;
  width: 19.767068007885882px;
  height: 19.000006470112993px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_11 {
  position: absolute;
  width: 19.76706800788565px;
  height: 19.000006470112993px;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 #s-Path_12 {
  position: absolute;
  width: 19.767068007886337px;
  height: 19.000006470112993px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6d40743-4c77-443d-a8bd-b92f6cd74d27 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}