#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 > #backgroundBox {
  position: absolute;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 > #alignmentBox {
  position: relative;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Image_1 {
  position: absolute;
  width: 1340.0px;
  height: 886.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 {
  position: absolute;
  width: 1340.0000000000002px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #678A9C;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 span {
  color: #049DEA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #049DEA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 {
  position: absolute;
  width: 1340.9999999999943px;
  min-height: 118.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #5F9590;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 {
  position: absolute;
  width: 1340.0000000000014px;
  min-height: 159.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F9F9F9;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_2 {
  position: absolute;
  width: 493.9999999999999px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_2 span {
  color: #055850;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #055850;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 {
  position: absolute;
  width: 147.98916625976562px;
  min-height: 56.169014084507126px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 {
  position: absolute;
  width: 143.66197183098586px;
  min-height: 43.098591549295804px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 {
  position: absolute;
  width: 161.04033988580522px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 {
  position: absolute;
  width: 143.66197183098598px;
  min-height: 43.09859154929575px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_2 {
  position: absolute;
  width: 570.8046875000002px;
  min-height: 87.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Artifika_21.0.0_google',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_2 span {
  color: #050404;
  text-align: left;
  text-decoration: none;
  font-family: 'Artifika_21.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #050404;
  text-decoration: none;
  font-family: 'Artifika_21.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 {
  position: absolute;
  width: 176.74549865722838px;
  min-height: 47.2907811831119px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #678A9C;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_3 {
  position: absolute;
  width: 588.9999999999986px;
  min-height: 272.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abyssinica SIL_8.0.0_google',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Abyssinica SIL_8.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abyssinica SIL_8.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 input::-webkit-input-placeholder {
  color: #79747E;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 input::-moz-placeholder {
  color: #79747E;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 input:-moz-placeholder {
  color: #79747E;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 input:-ms-input-placeholder {
  color: #79747E;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 {
  position: absolute;
  width: 1341.0000000000105px;
  height: 97.08029197080276px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 input {
  color: #1C1B1F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-helpButton {
  position: absolute;
  width: 42.0px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Image_2 {
  position: absolute;
  width: 151.71515274047852px;
  height: 158.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 {
  position: absolute;
  width: 955.5309596390541px;
  min-height: 60.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_5 {
  position: absolute;
  width: 803.5101404620589px;
  min-height: 29.268292682926273px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_47.0.0_google',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_5 span {
  color: #79747E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #79747E;
  text-decoration: none;
  font-family: 'Roboto_47.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Path_4 {
  position: absolute;
  width: 35.10290908813457px;
  height: 33.853980660438765px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Path_9 {
  position: absolute;
  width: 41.24549865722679px;
  height: 29.68734565377202px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Path_6 {
  position: absolute;
  width: 48.50157234072774px;
  height: 29.436128411441473px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 {
  position: absolute;
  width: 143.6619718309857px;
  min-height: 43.09859154929586px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 {
  position: absolute;
  width: 168.66197183098598px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6D908D;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Path_53 {
  position: absolute;
  width: 60.0922901630388px;
  height: 60.17579078674311px;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 #s-Path_1 {
  position: absolute;
  width: 33.2598300570978px;
  height: 39.712895393371696px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97a29b9d-370a-4ed7-82d3-e298f80b6652 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}